@font-face {
  font-family: "text";
  src: url("https://fonts.googleapis.com/css2?family=Lora&family=Open+Sans:wght@300&display=swap");
}

@font-face {
  font-family: "title";
  src: url("https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap");
}

body {
  background: url("../image/background2.png") center fixed;
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* 100% de la hauteur de la fenêtre visible */
}

.container {
    flex: 1; /* Le contenu de votre page occupera tout l'espace disponible */
}

.footerdiv{
    height: 5em;
}

footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

p,
li {
  font-family: "text";
}

h3 {
  font-family: "title";
}

.card {
  background-color: rgb(71, 125, 73, 0.9);
  color: white;
  border-color: white;
}

.bg-success,
.btn-success {
  background-color: rgb(71, 125, 73, 0.9) !important;
  border-color: white;
}

label {
  margin-right: 15px;
}

.container{
    flex: 1;
}


